.ChangeAlert-bar {
  display: flex;
  background: #d36183;
}

.ChangeAlert-msg {
  padding: 5px;
  width: auto;
  margin: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
}

.ChangeAlert-btn {
  padding: 5px;
  margin: 5px 10px;
  background: #d36183;
  outline: none;
  border: 1px solid white;
  border-radius: 10px;
}

.ChangeAlert-btn::after {
  background: #ee7196;
}
