.App-title {
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

.App-body {
  color: #333;
  background-color: rgb(0,0,0,.8);
  background-image: url(../resources/Live-Wave-Background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 10px 0 0 0;
  height: calc(100vh - 10px);
  
}
